*{
    margin: 0;
}

.column{
    display: flex;
    position: absolute;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.main-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 20%;
    width: 100vw;
    height: 100vh;
}