.hitbox{
    margin: 15px;
    margin-left: 1px;
}

.card{
    width: 400px;
    height: fit-content;
    transform: translateX(-50%) translateY(10%);
}

.icon{
    width: 10em;
    height: 10em;
    color: var(--primary-dark);
}

.modal.show{
    top: -14rem;
    left: -45.6rem;
}