<div class="col">
  <div #formContainer class="card">
    <div class="card-title">
      <p> REGISTRAR <p>
    </div>
    <div class="field hitbox">
      <input type="text" id="name" placeholder="..." [formControl]="name">
      <label for="name"> Nombre </label>
    </div>
    <div class="field hitbox">
      <input type="text" id="document" placeholder="..." [formControl]="document">
      <label for="document"> Documento </label>
    </div>
    <div class="field hitbox">
      <input type="date" id="born_date" placeholder="..." [formControl]="born_date">
      <label for="born_date"> Fecha nacimiento </label>
    </div>
    <div class="field hitbox">
      <input type="email" id="sexo" placeholder="..." [formControl]="sexo">
      <label for="sexo"> Sexo </label>
    </div>
    <div class="field hitbox">
      <button (click)="send()" type="button" class="btn btn-primary"> ENVIAR </button>
  </div>

  <div class="modal" [ngClass]="{'show': showModal}" [hidden]="!showModal">
    <div class="modal-content">
      <div class="modal-icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="modal-icon bi bi-check-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
        </svg>
      </div>
      <div class="modal-body">
        <h3>Registrado Exitosamente</h3>
        <div class="hspaced"></div>
        <div class="col col-buttons">
          <button (click)="closeModal()" class="btn btn-primary"> CERRAR </button>
        </div>
      </div>
    </div>
  </div>
</div>