.icon{
    position: relative;
    top: -5%;
    width: 20em;
    height: 20em;
    color: var(--primary-dark);
}

.hitbox{
    margin: 15px;
    margin-left: 1px;
}

.card{
    width: 400px;
    height: fit-content;
    transform: translateX(-50%) translateY(10%);
}