<div class="main">
  <div #formContainer class="row">
    <div class="field">
      <input type="text" id="patient" placeholder="..." [formControl]="idPaciente">
      <label for="patient"> ID Paciente </label>
    </div>
    <button (click)="lookfor()" type="button" class="btn btn-primary"> BUSCAR </button>
  </div>
  <div class="title">
    <h5>ID Historial</h5>
    <h5>ID Paciente</h5>
    <h5>Última actualización</h5>
  </div>
  <div class="line"></div>
  @for (historial of resultados; track historial.id_historial){
    <div class="element">
      <p>{{historial.id_historial}}</p>
      <p>{{historial.id_paciente}}</p>
      <p>{{historial.fecha_actualizacion}}</p>
    </div>
  }

</div>