<div class="screen">
    <app-navbar></app-navbar>
    <div class="shadow-title-bar"></div>
    <div class="title-bar">
        <h1><div class="line"></div><strong> HISTORIALES </strong><div class="line"></div></h1>
    </div>
    <div class="main-content">
        <app-historial-list (historialSelected)="mostrarDetalle($event)"></app-historial-list>
        <div class="column">
            <app-historial-detail [historial]="historialSeleccionado"></app-historial-detail>   
            <app-historial-form></app-historial-form>
        </div>
    </div>
</div>