<div class="main">
  <div class="row">
    <div #formContainer class="row">
      <div class="field">
        <input type="text" id="patient" placeholder="..." [formControl]="docPaciente">
        <label for="patient"> Documento Paciente </label>
      </div>
      <button (click)="lookfor()" type="button" class="btn btn-primary"> BUSCAR </button>
    </div>
  </div>
  <div class="title">
    <h5>ID</h5>
    <h5>Nombre</h5>
    <h5>Fecha de nacimiento</h5>
  </div>
  <div class="line"></div>
  <div class="element" (click)="selectPaciente(pacienteResultado)">
    @if (pacienteResultado){
      <p>{{pacienteResultado.id}}</p>
      <p>{{pacienteResultado.nombre}}</p>
      <p>{{pacienteResultado.fecha_nacimiento}}</p>
    }
  </div>
</div>
<app-paciente-detail [pacienteSelected]="pacienteSelected"></app-paciente-detail>