.title-bar {
    margin-bottom: 20px;
  }
  
  input.form-control {
    max-width: 100%;
  }
  
  .row {
    border-radius: 5px;
    margin: 0;
  }
  
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
  }
  
  .btn-primary {
    background-color: #a51c30;
    border: none;
  }
  