<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="logo.component.css">
<div class="logo">
    <div class="scene top-hex">
        <div class="cube">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
        </div>
    </div>
    <div class="scene top-right">
        <div class="cube">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
        </div>
    </div>
    <div class="scene bottom-right">
        <div class="cube">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
        </div>
    </div>
    <div class="scene bottom-hex">
        <div class="cube">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
        </div>
    </div>
    <div class="scene bottom-left">
        <div class="cube">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
        </div>
    </div>
    <div class="scene top-left">
        <div class="cube">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
        </div>
    </div>
    <div class="scene top-front">
        <div class="cube">
            <div class="left"></div>
            <div class="right"></div>
            <div class="top"></div>
        </div>
    </div>
    <div class="cube-active active">
        <div class="left-active"></div>
        <div class="right-active"></div>
        <div class="top-active"></div>
    </div>
</div>
</html>