<div class="main">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/bannerMedico1.jpg" class="d-block w-100 h-80" alt="bannerMedico1">
        <div class="carousel-caption d-none d-md-block caption">
          <h5>Gnoma-Research</h5>
          <p>En la actualidad se encuentra en la búsqueda de patrones en el ADN con el fin de 
            encontrar cura o tratamientos a enfermedades que siguen siendo uno de los mayores 
            dolores de la humanidad.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/bannerMedico2.jpg" class="d-block w-100 h-80" alt="bannerMedico2">
        <div class="carousel-caption d-none d-md-block caption">
          <h5>Health Care Importance</h5>
            <p>Cuidarnos a nosotros mismos es esencial para mantener una buena salud física y mental. 
            Esto incluye llevar una dieta equilibrada, hacer ejercicio regularmente, dormir lo suficiente 
            y gestionar el estrés de manera efectiva. Al priorizar nuestro bienestar, podemos mejorar 
            nuestra calidad de vida y prevenir enfermedades a largo plazo.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/bannerMedico3.jpg" class="d-block w-100 h-80" alt="bannerMedico3">
        <div class="carousel-caption d-none d-md-block caption">
          <h5>Medical History</h5>
            <p>Los historiales médicos deben ser precisos, completos y actualizados regularmente. 
            Es importante garantizar la confidencialidad y seguridad de la información del paciente, 
            cumpliendo con las normativas legales y éticas. Además, deben ser accesibles para los 
            profesionales autorizados, facilitando una atención médica eficiente y de calidad.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>