*{
    margin: 0;
}

.column{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 20%;
    width: 100vw;
    height: 100vh;
}

app-sign-up{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

app-profile{
    position: relative;
    top: 0%;
}