<div class="screen">
    <app-navbar></app-navbar>
    <div class="shadow-title-bar"></div>
    <div class="title-bar">
        <h1><div class="line"></div><strong> PACIENTES </strong><div class="line"></div></h1>
    </div>
    <div class="main-content">
        <div class="column">
            <div class="row">
                <app-paciente-list></app-paciente-list>
            </div>
        </div>
        <div class="column">
            <app-paciente-form></app-paciente-form>
        </div>
    </div>
</div>