<div class="col">
  <div class="main">
    <div class="main-shadow-card"></div>
    <div class="main-card">
      <div class="title">
        <p><div class="line"></div><strong> MEDIQUICK </strong><div class="line"></div><p>
      </div>
      <div class="content">
        <div class="link-about-this">
          <a href="#ABOUT-THIS"><strong> ABOUT THIS </strong></a>
        </div>
        <app-logo></app-logo>
        <div class="link-log-in">
          <a href="#LOG-IN" [routerLink]="'/home'"><strong> > INICIAR SESIÓN < </strong></a>
        </div>
      </div>
    </div>
  </div>
  <div class="about-this" id="ABOUT-THIS">
    <p>Hola mundo</p>
  </div>
  <div class="log-in" id="LOG-IN">
    <p>Hola mundo</p>
  </div>
</div>