<div class="card">
  <h5 class="card-title">Análisis de Historial</h5>
  @if (isLoading){
    <span class="loader"></span>
  }
  <div #formContainer class="row">
    <div class="field">
      <input type="text" id="patient" placeholder="...">
      <label for="patient"> ID Paciente </label>
    </div>
    <div class="field">
      <input type="file" class="form-control btn-primary hitbox" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
    </div>
    <button (click)="proccess()" type="button" class="btn btn-primary"> PROCESAR </button>
  </div>
</div>